.EmailLists{
    margin: 0 auto;
    width: 100%;
}

.SubEmailLists{
    width: 100%;
    background-color: aqua;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    border: 2px solid black;
}

.SubEmailLists div{
    font-size: 70%;
    width: auto;
}

.SubEmailLists .sender{
    background-color: chartreuse;
}
.SubEmailLists .reciver{
    background-color: rgb(211, 154, 197);
}
.SubEmailLists .body{
    background-color: rgb(199, 229, 29);
}
.SubEmailLists .time{
    background-color: rgb(226, 193, 152);
}
.heading{
    margin-top: 20px;
    display: flex;

    justify-content: space-between;
}
.heading div{
    text-align: center;
}